apiVersion: apps/v1
kind: Deployment
metadata:
  name: aether-cassandra$DATABASEAPPID
  labels:
    app: aether-cassandra$DATABASEAPPID
spec:
  replicas: 3
  selector:
    matchLabels:
      app: aether-cassandra$DATABASEAPPID
  template:
    metadata:
      labels:
        app: aether-cassandra$DATABASEAPPID
    spec:
      containers:
      - name: aether-cassandra
        image: aether-cassandra$DATABASEIMGID
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: aether-cassandra$DATABASEAPPID
  labels:
    app: aether-cassandra$DATABASEAPPID
spec:
  type: NodePort
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: aether-cassandra$DATABASEAPPID
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: aether-cassandra$DATABASEAPPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-aether-cassandra$DATABASEAPPID
spec:
  ingressClassName: aether-cassandra$DATABASEAPPID
  rules:
  - host: $CASSANDRAIHOST
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: aether-cassandra$DATABASEAPPID
            port:
              number: 8080
