apiVersion: apps/v1
kind: Deployment
metadata:
  name: aether-spark-ml$APPID
  labels:
    app: aether-spark-ml$APPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aether-spark-ml$APPID
  template:
    metadata:
      labels:
        app: aether-spark-ml$APPID
    spec:
      initContainers:
      - name: spark-mlinit
        image: aether-spark-ml-data$APPID
        command: ["/bin/sh", "-c", "cp -R /data/* /newdata/"]
        volumeMounts:
        - name: spark-mldatavol
          mountPath: /newdata
      containers:
      - name: spark-ml$APPID
        image: aether-spark-ml$IMGID
        ports:
        - containerPort: 80
        volumeMounts:
        - name: spark-mldatavol
          mountPath: /data
      volumes:
      - name: spark-mldatavol
        persistentVolumeClaim:
          claimName: spark-mldatapv
---
apiVersion: v1
kind: Service
metadata:
  name: aether-spark-ml$APPID
  labels:
    app: aether-spark-ml$APPID
spec:
  type: NodePort
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: aether-spark-ml$APPID
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: aether-spark-ml$APPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-aether-spark-ml$APPID
spec:
  ingressClassName: aether-spark-ml$APPID
  rules:
  - host: $SPARKMLHOST
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: aether-spark-ml$APPID
            port:
              number: 8080
