apiVersion: apps/v1
kind: Deployment
metadata:
  name: aether-hibernate$DATABASEAPPID
  labels:
    app: aether-hibernate$DATABASEAPPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aether-hibernate$DATABASEAPPID
  template:
    metadata:
      labels:
        app: aether-hibernate$DATABASEAPPID
    spec:
      initContainers:
      - name: hibernateinit
        image: aether-hibernatedata$DATABASEAPPID
        command: ["/bin/sh", "-c", "cp -R /data/* /newdata/"]
        volumeMounts:
        - name: hibernatedatavol
          mountPath: /newdata
      containers:
      - name: aether-hibernate$DATABASEAPPID
        image: aether-hibernate$DATABASEIMGID
        ports:
        - containerPort: 80
        volumeMounts:
        - name: hibernatedatavol
          mountPath: /data
      volumes:
      - name: hibernatedatavol
        persistentVolumeClaim:
          claimName: hibernatedatapv$DATABASEAPPID
---
apiVersion: v1
kind: Service
metadata:
  name: aether-hibernate$DATABASEAPPID
  labels:
    app: aether-hibernate$DATABASEAPPID
spec:
  type: NodePort
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: aether-hibernate$DATABASEAPPID
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: aether-hibernate$DATABASEAPPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-aether-hibernate$DATABASEAPPID
spec:
  ingressClassName: aether-hibernate$DATABASEAPPID
  rules:
  - host: $HIBERNATEIHOST
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: aether-hibernate$DATABASEAPPID
            port:
              number: 8080
