<config>
  <mp>
    <cpu>$MPCPU</cpu>
    <batch>$MPBATCH</batch>
    <threads>
	<fs>$MPTHREADSFS</fs>
	<convert>$MPTHREADSCONVERT</convert>
	<index>$MPTHREADSINDEX</index>
    </threads>
  </mp>
  <node>
    <classify enable='true'/>
  </node>
  <fs>
    <dirlist>$DIRLIST</dirlist>
    <dirlistnot>$DIRLISTNOT</dirlistnot>
    <datadir></datadir>
    <homedir></homedir>
    <logdir></logdir>
  </fs>
  <gui>
    <downloader enable="true"/>
    <authenticate enable="false"/>
    <highlightmlt enable="true"/>
  </gui>
  <connector>
    $CONNECTORS
  </connector>
  <conversion>
    $CONVERTERS
  </conversion>
  <index>
    <indexlimit>0</indexlimit>
    <failedlimit>1</failedlimit>
    <reindexlimit>10000</reindexlimit>
  </index>
  <database>
    <hbase enable='$HBASE'>
      <hbasequorum>$HBASEQUORUM</hbasequorum>
      <hbaseport>$HBASEPORT</hbaseport>
      <hbasemaster>$HBASEMASTER</hbasemaster>
      <tableprefix>$HBASETABLEPREFIX</tableprefix>
    </hbase>
    <hibernate enable='$HIBERNATE'>
      <h2dir>$H2DIR</h2dir>
    </hibernate>
    <datanucleus enable='$DATANUCLEUS'>
      
    </datanucleus>
    <cassandra enable='$CASSANDRA'>
      <host>$CASSANDRAHOST</host>
      <port>$CASSANDRAPORT</port>
    </cassandra>
    <dynamodb enable='$DYNAMODB'>
      <host>$DYNAMODBHOST</host>
      <port>$DYNAMODBPORT</port>
    </dynamodb>
    <spring enable='$SPRINGDATA'/>
  </database>
  <machinelearning>
    <sparkml enable='$SPARKML'>
      <sparkmlmodelpath>$SPARKMLMODELPATH</sparkmlmodelpath>
      <sparkmllabelindexpath>$SPARKMLLABELINDEXPATH</sparkmllabelindexpath>
      <sparkmaster>$SPARKMASTER</sparkmaster>
    </sparkml>
    <mahoutspark enable='$MAHOUTSPARK'>
      <mahoutsparkmaster>$MAHOUTSPARKMASTER</mahoutsparkmaster>
      <mahoutmodelpath>$MAHOUTMODELPATH</mahoutmodelpath>
      <mahoutlabelindexfilepath>$MAHOUTLABELINDEXFILEPATH</mahoutlabelindexfilepath>
      <mahoutdictionarypath>$MAHOUTDICTIONARYPATH</mahoutdictionarypath>
      <mahoutdocumentfrequencypath>$MAHOUTDOCUMENTFREQUENCYPATH</mahoutdocumentfrequencypath>
    </mahoutspark>
    <opennlp enable='$OPENNLP'>
      <opennlpmodelpath>$OPENNLPMODELPATH</opennlpmodelpath>
    </opennlp>
  </machinelearning>
  <searchengine>
    <lucene enable="$LUCENE">
      <lucenepath>$LUCENEPATH</lucenepath>
      <index>$LUCENEINDEX</index>
    </lucene>
    <solr enable="$SOLR">
      <solrurl>$SOLRURL</solrurl>
      <index>$SOLRINDEX</index>
    </solr>
    <elastic enable="$ELASTIC">
      <elastichost>$ELASTICHOST</elastichost>
      <elasticport>$ELASTICPORT</elasticport>
      <ssl>$ELASTICSSL</ssl>
      <index>$ELASTICINDEX</index>
      <username>$ELASTICUSERNAME</username>
      <password>$ELASTICPASSWORD</password>
    </elastic>
    <mlt>
      <mltcount>10</mltcount>
      <mltmindf>5</mltmindf>
      <mltmintf>2</mltmintf>
    </mlt>
  </searchengine>
  <filesystem>
    <hdfs enable="$HDFS">
      <hdfsconffs>$HDFSCONFFS</hdfsconffs>
    </hdfs>
    <swift enable="$SWIFT">
      <swiftconfurl>$SWIFTCONFURL</swiftconfurl>
      <swiftconfuser>$SWIFTCONFUSER</swiftconfuser>
      <swiftconfkey>$SWIFTCONFKEY</swiftconfkey>
      <swiftconfcontainer>$SWIFTCONFCONTAINER</swiftconfcontainer>
    </swift>
    <s3 enable="$S3">
	<host>$S3HOST</host>
	<port>$S3PORT</port>
	<region>$S3REGION</region>
	<accesskey>$S3ACCESSKEY</accesskey>
	<secretkey>$S3SECRETKEY</secretkey>
    </s3>
  </filesystem>
  <synchronization>
    <distributedlockmodebig enable='true'/>
    <distributedprocess enable='false'/>
    <zookeeper>$ZOOKEEPER</zookeeper>
    <redis>$REDIS</redis>
  </synchronization>
  <inmemory><server>$INMEMORYSERVER</server></inmemory>
  <inmemory><redis>$INMEMORYREDIS</redis></inmemory>
</config>
