apiVersion: apps/v1
kind: Deployment
metadata:
  name: mahout-spark$APPID
  labels:
    app: mahout-spark$APPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mahout-spark$APPID
  template:
    metadata:
      labels:
        app: mahout-spark$APPID
    spec:
      initContainers:
      - name: mahout-sparkinit
        image: aether-mahout-sparkdata$APPID
        command: ["/bin/sh", "-c", "cp -R /data/* /newdata/"]
        volumeMounts:
        - name: mahout-sparkdatavol
          mountPath: /newdata
      containers:
      - name: mahout-spark$APPID
        image: aether-mahout-spark$IMGID
        ports:
        - containerPort: 80
        volumeMounts:
        - name: mahout-sparkdatavol
          mountPath: /data
      volumes:
      - name: mahout-sparkdatavol
        persistentVolumeClaim:
          claimName: mahout-sparkdatapv
---
apiVersion: v1
kind: Service
metadata:
  name: aether-mahout-spark$APPID
  labels:
    app: aether-mahout-spark$APPID
spec:
  type: NodePort
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: aether-mahout-spark$APPID
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: aether-mahout-spark$APPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-aether-mahout-spark$APPID
spec:
  ingressClassName: aether-mahout-spark$APPID
  rules:
  - host: $MAHOUTSPARKHOST
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: aether-mahout-spark$APPID
            port:
              number: 8080
