apiVersion: apps/v1
kind: Deployment
metadata:
  name: aether-opennlp$CLASSIFYAPPID
  labels:
    app: aether-opennlp$CLASSIFYAPPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aether-opennlp$CLASSIFYAPPID
  template:
    metadata:
      labels:
        app: aether-opennlp$CLASSIFYAPPID
    spec:
      initContainers:
      - name: opennlpinit
        image: aether-opennlp-data$CLASSIFYAPPID
        command: ["/bin/sh", "-c", "cp -R /data/* /newdata/"]
        volumeMounts:
        - name: opennlpdatavol
          mountPath: /newdata
      containers:
      - name: aether-opennlp$CLASSIFYAPPID
        image: aether-opennlp$CLASSIFYIMGID
        ports:
        - containerPort: 80
        volumeMounts:
        - name: opennlpdatavol
          mountPath: /data
      volumes:
      - name: opennlpdatavol
        persistentVolumeClaim:
          claimName: opennlpdatapv$CLASSIFYAPPID
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: aether-opennlp$CLASSIFYAPPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-aether-opennlp$CLASSIFYAPPID
spec:
  ingressClassName: aether-opennlp$CLASSIFYAPPID
  rules:
  - host: $OPENNLPIHOST
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: aether-opennlp$CLASSIFYAPPID
            port:
              number: 8080
