apiVersion: apps/v1
kind: Deployment
metadata:
  name: opennlp$APPID
  labels:
    app: opennlp$APPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opennlp$APPID
  template:
    metadata:
      labels:
        app: opennlp$APPID
    spec:
      initContainers:
      - name: opennlpinit
        image: aether-opennlpdata$APPID
        command: ["/bin/sh", "-c", "cp -R /data/* /newdata/"]
        volumeMounts:
        - name: opennlpdatavol
          mountPath: /newdata
      containers:
      - name: opennlp$APPID
        image: aether-opennlp$IMGID
        ports:
        - containerPort: 80
        volumeMounts:
        - name: opennlpdatavol
          mountPath: /data
      volumes:
      - name: opennlpdatavol
        persistentVolumeClaim:
          claimName: opennlpdatapv
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: aether-opennlp$APPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-aether-opennlp$APPID
spec:
  ingressClassName: aether-opennlp$APPID
  rules:
  - host: $OPENNLPHOST
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: aether-opennlp$APPID
            port:
              number: 8080
