apiVersion: skaffold/v2beta1
kind: Config
metadata:
  name: convert
build:
  artifacts:
  #- image: aether-local$IMGID
  #  context: ../../../docker/cloud/local
  - image: aether-hdfs$IMGID
    context: ../../../docker/cloud/generic
    docker:
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.HDFSJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
	lang: "en_US.ISO8859-1"
  - image: aether-s3$IMGID
    context: ../../../docker/cloud/generic
    docker:
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.S3JAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
	lang: "en_US.ISO8859-1"
  - image: aether-swift$IMGID
    context: ../../../docker/cloud/generic
    docker:
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.SWIFTJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
	lang: "en_US.ISO8859-1"
deploy:
  kubectl:
    manifests:
    #- local/deployment.yaml
    - hdfs/deployment.yaml
    - s3/deployment.yaml
    - swift/deployment.yaml
