apiVersion: skaffold/v2beta1
kind: Config
metadata:
  name: database
build:
  artifacts:
  - image: aether-hbase$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/generic/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.HBASEJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        extras: "--add-opens java.base/java.nio=ALL-UNNAMED"
        appid: '{{.APPID}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-hibernatedata$APPID
    context: ../../../docker/cloud/hibernatedata
  - image: aether-hibernate$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/generic/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.HIBERNATEJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        appid: '{{.APPID}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-cassandra$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/generic/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.CASSANDRAJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        appid: '{{.APPID}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-dynamodb$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/generic/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.DYNAMODBJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        extras: "--add-opens java.base/java.lang=ALL-UNNAMED"
        appid: '{{.APPID}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-springdata$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/generic/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.SPRINGDATAJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        extras: "--add-opens java.base/java.lang=ALL-UNNAMED"
        appid: '{{.APPID}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
deploy:
  kubectl:
    manifests:
    - hbase/deployment.yaml
    - hibernate/deployment.yaml
    - hibernatedata/deployment.yaml
    - cassandra/deployment.yaml
    - dynamodb/deployment.yaml
    - springdata/deployment.yaml
