apiVersion: skaffold/v2beta1
kind: Config
metadata:
  name: convert
build:
  artifacts:
  - image: aether-calibre$CONVERTIMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/calibre/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.CALIBREJAR}}'
        appid: '{{.CONVERTAPPID}}'
        zookeeper: '{{.ZOOKEEPER}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-djvutxt$CONVERTIMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/djvutxt/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.DJVUTXTJAR}}'
        appid: '{{.CONVERTAPPID}}'
        zookeeper: '{{.ZOOKEEPER}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-pdftotext$CONVERTIMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/pdftotext/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.PDFTOTEXTJAR}}'
        appid: '{{.CONVERTAPPID}}'
        zookeeper: '{{.ZOOKEEPER}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-tika$CONVERTIMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/tika/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.TIKAJAR}}'
        appid: '{{.CONVERTAPPID}}'
        zookeeper: '{{.ZOOKEEPER}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-wvtext$CONVERTIMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/wvtext/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.WVTEXTJAR}}'
        appid: '{{.CONVERTAPPID}}'
        zookeeper: '{{.ZOOKEEPER}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
deploy:
  kubectl:
    manifests:
    - calibre/deployment.yaml
    - djvutxt/deployment.yaml
    - pdftotext/deployment.yaml
    - tika/deployment.yaml
    - wvtext/deployment.yaml
