apiVersion: skaffold/v2beta1
kind: Config
metadata:
  name: searchengine
build:
  artifacts:
  - image: aether-lucenedata$SEARCHAPPID
    context: ../../../docker/cloud/lucenedata
  - image: aether-lucene$SEARCHIMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/generic/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.LUCENEJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        appid: '{{.SEARCHAPPID}}'
        zookeeper: '{{.ZOOKEEPER}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-elastic$SEARCHIMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/generic/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.ELASTICJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        appid: '{{.SEARCHAPPID}}'
        zookeeper: '{{.ZOOKEEPER}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: aether-solr$SEARCHIMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/generic/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.SOLRJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        appid: '{{.SEARCHAPPID}}'
        zookeeper: '{{.ZOOKEEPER}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
deploy:
  kubectl:
    manifests:
    - lucene/deployment.yaml
    - lucenedata/deployment.yaml
    - elastic/deployment.yaml
    - solr/deployment.yaml
