apiVersion: skaffold/v2beta1
kind: Config
metadata:
  name: core
build:
  artifacts:
  - image: aether-core$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/core/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.COREJAR}}'
        mywebport: "8080"
        myconfig: '{{.MYCONFIG}}'
        mydebug: '{{.MYDEBUG}}'
        appid: '{{.APPID}}'
        classifyappid: '{{.CLASSIFYAPPID}}'
        convertappid: '{{.CONVERTAPPID}}'
        databaseappid: '{{.DATABASEAPPID}}'
        filesystemappid: '{{.FILESYSTEMAPPID}}'
        searchappid: '{{.SEARCHAPPID}}'
        eurekaserver: '{{.EUREKA_SERVER_URI}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
deploy:
  kubectl:
    manifests:
    - core/deployment.yaml
